{% extends "base.html" %}
{% block title%}Upload file{% endblock %}
{% block content %}
    {% if mode == 'pick' %}
    <form method=post enctype=multipart/form-data>
        <input type="file" name="file" multiple
            id="file" value="select file">
        <label for="file" id="select" class="btn">
            <p id='fileName'>
            select file
            </p> 
        </label>
        <input type="submit" name="submit" class="btn"
            id="submit" value="upload file">
    </form>
    {% else %}
    <span class="done">Success</span>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        // add progress bar on submit
        let form = document.querySelector('div form');
        form.addEventListener('submit', (e) => {
            form.style.display = 'none';
            let container = document.getElementById('container');
            let bar = document.createElement('div');
            let progress = document.createElement('div');
            bar.classList.add('bar');
            progress.classList.add('progress');
            bar.appendChild(progress);
            container.appendChild(bar);
        });

        function update(e) {
            let size = file.files.length;
            if (size == 1) {
                fileName.textContent = file.files[0].name;
            } else {
                fileName.textContent = `${size} files selected`;
            }
        }

        const file = document.querySelector('#file');
        const fileName = document.querySelector('#fileName');

        file.addEventListener('change', update)
    </script>
{% endblock %}
</html>
